body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.photo-container {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.explanation-container {
  width: 400px;
  font-size: 10px;
  font-weight: 400;
}

img {
  width: 100%;
}
